@charset "utf-8";
/* CSS Document */
/*
 * author : towne;
 * date : 2014-10-24;
 *
 */
/*reset*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin: 0; padding: 0;font-weight: normal;}
body{font: 14px "Microsoft Yahei", "Arial Narrow", HELVETICA; background: #f6f6f6; -webkit-text-size-adjust: 100%;}
table{border-collapse: collapse; border-spacing: 0;}
li{list-style: none;}
p{word-wrap: break-word;}
a{color: #172c45; text-decoration: none;text-decoration: none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
em{font-style: normal;}
img{border: 0; vertical-align: top;}
input{outline: none;}
*:focus {outline: none;} 
textarea{resize: none; overflow: auto; outline: none;}
.bc{margin-left:auto;margin-right:auto;display:block;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear:after{content: ''; display: block; clear: both;}
.clear{zoom: 1;}
.info{ display:table-cell;zoom:1;}
.m1000{width: 1000px; margin: 0 auto;}
.hide{display: none;}
.circular {border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; behavior: url(pie.htc); z-index: 33; position: relative;}
.circular_12 {border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; behavior: url(pie.htc); z-index: 33; position: relative;}
.circular_4 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;behavior: url(pie.htc);z-index: 33; position:relative;}
.circular_2 {border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;behavior: url(pie.htc);z-index: 33; position:relative;}
.alignC{ text-align:center;}
.alignL{ text-align:left;}
.alignR{ text-align:right;}
.relative{position:relative;}
.circular {border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; behavior: url(pie.htc); z-index: 33; position: relative;}
.circular_12 {border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; behavior: url(pie.htc); z-index: 33; position: relative;}
.circular_4 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;behavior: url(../pie.htc);z-index: 33; position:relative;}
.circular_2 {border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;behavior: url(../pie.htc);z-index: 33; position:relative;}
.fr{float:right;display:inline;}
/*mt*/

.mt15{margin-top: 15px;}
.mt25{margin-top: 25px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt70{margin-top: 70px;}
.mt90{margin-top: 90px;}
.mt100{margin-top: 100px;}
.mt115{margin-top: 115px;}
.pt10{padding-top:10px}

.mr15{margin-right:15px;}
/*mb*/
.mb15{margin-bottom: 15px;}
.mb35{margin-bottom:35px;}
.mb55{margin-bottom:55px;}
.mb150{margin-bottom:150px;}
.mb200{margin-bottom:200px;}

/*pl*/
.pl145{padding-left: 145px;}

/*pt*/
.pt0{padding-top: 0px;}
.pt90{padding-top: 90px;}

/*pb*/
.pb10{padding-bottom:10px;}
.pb190{padding-bottom:190px;}
/* repeat - background-color*/
.z20000{z-index:20000011;}
/*head-----login----reg-----foot-----side---top_nav-*/
/*head*/
.head{
	height: 40px;
	background-color: #cc0000;
}
#head{
	width: 1000px;
	margin: 0 auto;
	background-color: #cc0000;
}
#head ul{
	float: right;
}
#head li{
	float: left;
	line-height: 40px;
	color: #ffffff
}
#head li span{
	padding-left: 20px;
}
#head li a{
	color: #ffffff;
	font-size: 12px;
	margin: 0 10px;
}
#head li a.on{
	font-size: 14px;
	color: #fffe95;
	text-decoration: underline;
}
#head a:hover{
	text-decoration: underline;
}
.top_nav{
	height: 92px;
	background-color: #ffffff;
}
#top_nav{
	width: 1000px;
	height: 70px;
	padding: 11px 0;
	margin: 0 auto;
	background-color: #ffffff;
}
#top_nav h2{
	float: left;
}
#top_nav h3{
	padding-left: 45px;
	float: right;
	line-height: 70px;
	color: #cc0000;
	font-size: 24px;
	background: url(../images/reset/6.png) 0 20px no-repeat;
}
#top_nav h3 span{
	font-weight: normal;
}

/*login----reg----->dialog*/
#mask{
	background-color: #000000;
	opacity: 0.45;
	filter:alpha(opacity=45);
	width: 300px;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
#dialog{
	position: fixed;
	_position: absolute;
	display: none;
	width: 418px;
	overflow: hidden;
	height: 418px;
	top: 50%;
}
.dialog_ul{
	width: 836px;
	position: absolute;
	left: 0;
	top: 28px;
}
.dialog{
	background:#ffffff;
	border-radius: 2px;
	position: relative;
	float: left;
	z-index: 100;
}
/*add 2015-1-22*/
.dialog_box{
	width: 100%;
	height: 100%;
	padding-top: 30px;
}
.dialog_box .dialog{
	border-radius:  0 0 2px 2px;
}
.dialog_box .close{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 2px;
	top: 3px;
	background: url(../images/reset/8.png) 0 0 no-repeat;
	cursor: pointer;
}
.dialog_box ul{
	width: 392px;
	height: 46px;
	background-color: #ffffff;
}
.dialog_box li{
	width: 50%;
	background-color: #e9e9e9;
	line-height: 46px;
	font-size: 18px;
	float: left;
	text-align: center;
}
.dialog_box li.active{
	background-color: #ffffff;
}
.dialog_box li a{
	color: #797a7c;
}
.dialog_box li.active a{
	color: #cc0000;
}

#dialog .dialog{
	margin-right: 26px;
}

.dialog .close{
	width: 30px;
	height: 30px;
	position: absolute;
	right: -26px;
	top: -26px;
	background: url(../images/reset/8.png) 0 0 no-repeat;
	cursor: pointer;
}
	/*tip*/
.dialog .tip{
	position: absolute;
	width: 100%;
	height: 15px;
	line-height: 15px;
	left: 0;
	top: 56px;
	font-size: 12px;
	color: #ea5a3c;
	text-align: center;
	font-weight: normal;
	display: none;
}

/*2015-1-22*/
.dialog_box .dialog .tip{
	top: 10px;
}
/*2015-1-22*/


.dialog .tip span{
	padding-left: 24px;
	background: url(../images/reset/tip.png) 0 0 no-repeat;
	vertical-align: top;
}
	/*tab*/
.dialog ul{
	width: 100%;
	height: 46px;
}
.dialog li{
	width: 50%;
	background-color: #e9e9e9;
	line-height: 46px;
	font-size: 18px;
	float: left;
	text-align: center;
}
.dialog li.active{
	background-color: #ffffff;
}
.dialog li a{
	color: #797a7c;
}
.dialog li.active a{
	color: #cc0000;
}
.dialog_login, .dialog_reg, .dialog_foget{
	width: 392px;
}
.dialog .input_box{
	padding: 20px 37px 0 37px;
}
	/*form*/
.dialog form div{
	height: 14px;
	padding: 10px 0 10px 30px;
	margin-top: 17px;
	position: relative;
	
}
.dialog div.phone,.dialog div.password{
	width: 286px;
}
.dialog form div.cap_box{
	padding: 0;
	margin: 0;
	height: auto;
	position: relative;
}

	/*reg-----captcha*/
.dialog div.captcha{
	float: left;
	width: 154px;
	padding-left: 30px;
}
.dialog div.captcha input{
	width: 100%;
}
.dialog div.phone, .dialog div.password, .dialog div.captcha{
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	background-image: url(../images/reset/log_reg.png);
	background-repeat: no-repeat;
}
.dialog div.phone{
	background-position: 8px -66px;
}
.dialog div.password{
	background-position: 8px 9px;
}
.dialog div.captcha{
	background-position: 10px -27px;
}
/*focus*/
.dialog div.phone.focus, .dialog div.password.focus, .dialog div.captcha.focus{
	background-color: #fcfcfc;
	border-color: #ffd7bc;
}
/*error*/
.dialog div.phone.error, .dialog div.password.error, .dialog div.captcha.error{
	border-color: #ff5757;
}

/*success*/
.dialog div.phone.success, .dialog div.password.success, .dialog div.captcha.success{
	border-color: #ace692;
}
.dialog form div.cap_box a{
	height: 100%;
	width: 116px;
	display: inline-block;
	background-color: #ff5500;
	border-radius: 4px;
	line-height: 37px;
	text-align: center;
	float: right;
	margin-top: 17px;
	font-size: 12px;
	color: #ffffff;
}
.dialog form div.cap_box img{
	height: 36px;
	width: 76px;
	margin-top: 17px;
	float: right;
}
.dialog form div.cap_box span{
	height: 32px;
	width: 106px;
	margin-top: 17px;
	line-height: 37px;
	text-align: right;
	float: right;
	cursor: pointer;
}
.dialog form div.cap_box a:hover{
	background-color: #ffb068;
}
.dialog input{
	width: 100%;
	border: none;
	background: none;
	height: 13px;
	font-size: 12px;
	line-height: 12px;
	float: left;
}
.dialog .checkbox{
	padding: 12px 0;
	font-size: 12px;
	line-height: 14px;
}
.dialog .checkbox span{
	padding-left: 18px;
	height: 12px;
	color: #2b3e45;
	background: url(../images/reset/3.png) 0 0 no-repeat;
	cursor: pointer;
	float: left;
}
.dialog .checkbox span.active{
	background: url(../images/reset/4.png) 0 0 no-repeat;
}
.dialog .checkbox a{
	margin-left: 18px;
	color: #cc0000;
	float: left;
}

.dialog .btn{
	padding-bottom: 10px;
}
.dialog .btn a{
	width: 100%;
	height: 45px;
	display: inline-block;
	line-height: 45px;
	font-size: 22px;
	text-align: center;
	color: #ffffff;
	background-color: #cc0000;
	border-radius: 4px;
	*display: inline;
	*zoom: 1;
}
.dialog .btn a:hover{
	background-color: #f07575;
}
.dialog .change{
	padding-bottom: 18px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	vertical-align: top;
}
.dialog .change span{
	color: #2b3e45;
	vertical-align: top;
}
.dialog .change a{
	color: #cc0000;
	vertical-align: top;
}
.dialog .checkbox a:hover, .dialog .change a:hover{
	text-decoration: underline;
}


/*2015-1-22*/
.dialog_box .dialog_login{
	height: 297px;
}
.dialog_box .dialog_login .btn{
	padding-top: 25px;
}
.dialog_box .dialog_login .checkbox{
	padding-top: 35px;
}
.dialog_box .dialog_login form div{
	margin-top: 25px;
}
/*2015-1-22*/


/*forget*/
#dialog .dialog_forget{
	position: absolute;
	left: 0;
	top: 28px;
	_width: 392px;
}
.dialog_forget h4{
	padding-top: 22px;
	line-height: 32px;
	font-size: 22px;
	color: #2b3e45;
	font-weight: normal;
	text-align: center;
}
.dialog_forget .tip{
	top: 63px;
}


/*2015-1-22*/
.dialog_box .dialog_forget .tip{
	top: 60px;
}
/*2015-1-22*/

#dialog .dialog_forget .btn a{
	width: 314px;
	display: inline-block;
}
/*side*/
.side{
	position: fixed;
	_position: absolute;
	width: 500px;
	left: 50%;
	bottom: 47%;
	z-index: 50;
	display: none;
}
#side{
	position: absolute;
	right: -82px;
	width: 82px;
	height: 200px;
}
#side a{
	display: inline-block;
	width: 52px;
	height: 52px;
	margin-bottom: 8px;
	margin-left: 9px;
	background-image: url(../images/reset/side.png);
	background-repeat: no-repeat;
}
#side p{
	position: absolute;
	text-align: center;
	width: 104px;
	height: 22px;
	padding: 6px 4px;
	top: 10px;
	right: 100px;
	display: none;
	background-color: #ffffff;
}
#side p a{
	width: 22px;
	height: 22px;
	margin: 0 2px;
	float: left;
	background: none;
}
#side p a.qq{
	background: url(../images/shop/sp_12.png) 0 0 no-repeat;
}
#side p a.weibo{
	background: url(../images/shop/sp_13.png) 0 0 no-repeat;
}
#side p a.qq_weibo{
	background: url(../images/shop/sp_14.png) 0 0 no-repeat;
}
#side p a.renren{
	background: url(../images/shop/sp_15.png) 0 0 no-repeat;
}
#side a.a1{
	background-position: 0 0;
}
#side a.a2{
	background-position: 0 -104px;
}
#side a.a3{
	background-position: 0 -208px;
}
#side a.a4{
	background-position: 0 -312px;
}
#side a.a5{
	background-position: 0 -416px;
}
#side a.a6{
	background-position: 0 -520px;
}
#side a.a1:hover{
	background-position: 0 -52px;
}
#side a.a2:hover{
	background-position: 0 -156px;
}
#side a.a3:hover{
	background-position: 0 -260px;
}
#side a.a4:hover{
	background-position: 0 -364px;
}
#side a.a5:hover{
	background-position: 0 -468px;
}
#side a.a5.active{
	background-position: 0 -468px;
}
#side a.a6:hover{
	background-position: 0 -572px;
}

/*foot*/
.footer{height: 190px; background: #555; color: #d1d1d1;}
.footer a{color: #fff; line-height: 40px;  padding: 0 30px;}
.footer a#first{padding-left: 0;}
.footer a#last{padding-right: 0;}
.footer .link{ padding-top: 55px;}
.footer .link p{border-top:1px solid #d1d1d1; font-size: 12px; padding-top: 10px;}
.footer .tel{margin-left: 82px; padding-left: 75px; border-left: 1px solid #545454; height: 95px; margin-top: 45px; }
.footer .tel p{background: url(../images/reset/foot_tel.png) no-repeat left 26px; padding-left: 70px; height: 100%; font-size: 18px; vertical-align: middle; display: table-cell; padding-top: 20px; -line-height: 30px;}
.footer .tel p span{font-size: 36px;}
.footer a:hover{
	text-decoration: underline;
}


/*404*/
.hx_404{
	background-color: #fafafa;
	padding-top: 50px;
}

#hx_404{
	width: 1000px;
	margin: 0 auto;
	padding-top: 400px;
	background: #fafafa url(../images/404.png) center 0 no-repeat;
	text-align: center;
	padding-bottom: 100px;
}
#hx_404 p{
	color: #929292;
	line-height: 24px;
}
#hx_404 a{
	color: #cc0000;
	line-height: 60px;
}
#hx_404 a:hover{
	text-decoration: underline;
}


/*xieyi*/
.xieyi_box{
	width: 958px;
	padding: 40px 20px;
	margin: 0 auto;
	background-color: #ffffff;
}
.xieyi_box .bianhao{
	font-style: normal;
	float: right;
	font-size: 16px;
}
.xieyi_box h2{
	padding: 10px;
	text-align: center;
	font: 22px/30px 'Microsoft Yahei';
}
.xieyi_box h3{
	padding: 20px;
	text-align: center;
	font: 16px/30px 'Microsoft Yahei';
}
.xieyi_box strong{
}
.xieyi_box p{
	margin: 15px 0;
	font-size: 16px;
	text-indent: 30px;
	line-height: 28px;
}
.xieyi_box strong{
	font-family: "宋体";
}
.xieyi_box span{
	padding: 0 20px;
	border-bottom: 1px solid #333;
}
.xieyi_box table{
	width: 100%;
	border: 1px solid #eaeaea;
	border-collapse: collapse;
}
.xieyi_box th{
	background-color: #f1f9fd;
	color: #b2b2b2
}
.xieyi_box tr.title{
	background-color: #e7f7ff;
}
.xieyi_box td, .xieyi_box th{
	height: 38px;
	border: 1px solid #eaeaea;
	text-align: center;
	font-size: 14px;
	line-height: 38px
}
.xieyi_box .two_line td, .xieyi_box .two_line th{
	padding: 6px 0;
	height: 30px;
	line-height: 24px;
}
.xieyi_box em{
	font-size: 12px;
}
.xieyi_box td.result{
	padding: 0 50px;
}
.xieyi_box td.result em{
	font-size: 14px;
}
.xieyi_box td.result .fr{
	color: #cc0000;
}
.xieyi_box .sign_top{
	padding: 10px 0;
}
.xieyi_box .sign_top div{
	width: 35%;
	float: left;
	
}
.xieyi_box .sign{
	padding: 20px 0;
}
.xieyi_box .sign div{
	width: 26%;
	float: left;
	padding: 60px 0;
}
.xieyi_box .sign div.esp{
	float: right;
	width: 42%;
	background-position: -440px 0;
}
.xieyi_box .sign .esp , .xieyi_box .sign .sign_name {
	background-image: url(../images/sign_0.png);
	background-repeat: no-repeat;
}
.xieyi_box .sign div.sign_name{
	background-position: -175px 0;
}

.dialog .btn {
    padding: 19px 2px;
}